<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    
            <a class="navbar-brand" href="#">
              <img src="../assets/boomB.png" style="width:150px;" alt="" width="30" height="24" class="d-inline-block align-text-top">
    
            </a>
          
      
      <form>
        <div class="container box">
        <i class="bi bi-search"  ></i>
        <input type="text" class='search' placeholder="Search.." name="search">

       </div>
      </form>
      <div class="google">
          <button class="google"><img src="../assets/google.png" alt=""></button>
          <button class="mac"><img src="../assets/mac.png" alt=""></button>
      </div>
    </div>
  </nav>
 

