
.box{
    display:flex;
    background-color: white;
    align-items: center;
    padding:10px;
    border-radius: 30px;
    width: fit-content;
    align-items: center;
    
   

}
.box>i{
    font-size:20px;

}
.box>input{
    flex:1;
    outline: none;
    font-size:18px;
    border:none;
}
img{
    width:100px;
    height:50px;
}
button{
    margin-right:5px;
}
@media only screen and (max-width: 600px) {
   nav{
       width:100vw! important;
   } 
.box{
   
    width: 90vw !important;
   
   

}
.box>i{
    font-size:15px;

}
.box>input{
    flex:1;
    outline: none;
    font-size:15px;
    border:none;
}
img{
    width:90vw !important;
    height:50px;
    margin: auto !important;
}
button{
    /* margin-right:5px;
     */
     display:none;
}
  }

