<div class="sidenav">


    <div class="login d-flex p-2">
        <i class="bi bi-person-circle"></i>
         <h4 class="m-2"> Login/signup </h4>
    </div>

    <div class="home d-flex">
        <img src="../assets/boom4.jfif" alt="">
        <h4>Home</h4>
    </div>
    <div class="home d-flex">
        <i class="bi bi-bar-chart"></i>
        <h4>Charts</h4>
    </div>
    <div class="home d-flex">
        <i class="bi bi-file-music-fill"></i>
        <h4>Playlists</h4>
    </div>
    <div class="home d-flex">
       <img src="../assets/artists.png" alt="">
        <h4>Artists</h4>
    </div>
    <div class="home d-flex">
        <img src="../assets/artists.png" alt="">
         <h4>Genres</h4>
     </div>
     <h5>Library</h5>
     <div class="home d-flex">
        <span class="material-icons">playlist_add</span>
         <h4>Add Playlist</h4>
     </div>
     <div class="home d-flex">
        <span class="material-icons">favorite</span>
         <h4>Favorite</h4>
     </div>
     <div class="home d-flex">
        <span class="material-icons">art_track</span>
         <h4>My Playlist</h4>
     </div>
     <h5>Buzz</h5>
     <div class="home d-flex">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
         <h4>Recommended</h4>
     </div>
     <h5>PodCast</h5>
     <div class="home d-flex">
        <img src="../assets/artists.png" alt="">
         <h4>Recommended</h4>
     </div>

</div>